{{!< layout}}


{{#if message}}
<div class="alert {{messageClass}}" role="alert">
    {{message}}
</div>
{{/if}}
<div class="card-body">
    <form action="/saveData" method="POST">

        <div class="form-group">
            <label for="">Nama Admin</label>
            <input type="text" name="nama" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" name="username" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input type="text" name="password" class="form-control">
        </div>

        <div class="form-group">
            <label for="">email</label>
            <input type="text" name="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Hobi</label>
            <input type="text" name="hobi" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Save Data</button>
        <a href="/" class="btn btn-primary"> Back </a>
    </form>
</div>